<!-- =======================
why-us -->
<section class="p-0" id="why_us">
    <div class="container">
        <div class="row g-0 rounded overflow-hidden">
            <!--why us left-->
            <div class="col-lg-6 d-none d-lg-block bg-light" style="background:url(assets/images/mpda/why_us.webp) no-repeat; background-size:cover;">
            </div>
            <!--why us right-->
            <div class="col-lg-6 col-md-12 bg-grad px-4 py-5 p-lg-5 all-text-white">
                <div class="h-100">
                    <div class="title text-start p-0">
                        <span class="pre-title">{{language why_us.question}}</span>
                        <h2>{{language why_us.tittle}}</h2>
                        <p>{{language why_us.text}} </p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group list-group-borderless text">
                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>{{language why_us.check_1}}</li>
                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>{{language why_us.check_2}}</li>
                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>{{language why_us.check_3}}</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group list-group-borderless text">
                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>{{language why_us.check_4}}</li>
                                <li class="list-group-item text-white d-flex"><i class="fa fa-check mt-1"></i>{{language why_us.check_5}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why-us
=======================  -->